// css solo per main news e main slider light *************

.container {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}

.section {
    margin-left: 30px;
}

button:hover {
    cursor: pointer;
    color: black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

button {
    color: white;
    background-color: #048383;
    height: 40px;
    padding: 0 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 3px;
    margin-top: 30px;
    position: relative;
    left: 240px;
}

h4 {
    color: #048383;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    font-size: 60px;
    color: rgb(37, 37, 37);
    margin: 30px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
    
h2 span {
    background-color: #04838323;
    padding: 3px 10px;
    color: #048383;
}

p {
    color: grey;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    width: 70%;
}