/* #048383 */

.container-main {
    background-color: #eef4ed;
}

.container {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}

.section {
    margin-left: 30px;
}

button {
    color: white;
    background-color: #048383;
    height: 40px;
    padding: 0 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 3px;
    margin-top: 30px;
    position: relative;
    left: 240px;
}

button:hover {
    cursor: pointer;
    color: black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h4 {
    color: #048383;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
font-size: 60px;
color: rgb(37, 37, 37);
margin: 30px 0;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

h2 span {
  background-color: #04838323;
  padding: 3px 10px;
  color: #048383;
}

p {
    color: grey;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    width: 70%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}

.card h3 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

i {
    color: #048383;
    font-size: 35px;
    position: relative;
    bottom: 30px;
}

.card {
    width: 350px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 50px 30px;
}

.card:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.card p {
    margin: 0;
    font-size: 23px;
}

.arrow {
    position: relative;
    left: 230px;
    bottom: 30px;
    font-size: 20px;
}
