
button {
    position: relative;
    left: 170px;
}

.cards {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    margin-right: 30px;
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card1 {
    background-image: url(../assets/news-1.jpg);
    background-size: cover;
    background-position: center;
}

.card2 {
    background-image: url(../assets/news-2.jpg);
    background-size: cover;
    background-position: center;
}

.card3 {
    background-image: url(../assets/news-3.jpg);
    background-size: cover;
    background-position: center;
}

.card span {
    display: none;
    cursor: pointer;
}

.card:hover span{
    background-color: #000000b7;
    width: 330px;
    height: 330px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}